<div class="ht-4">
    <h3>Đăng khóa học</h3>

<form action="/courses/store" method="POST">
        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nhập tên</label>
        <input type="text" name="name" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Nhập mô tả</label>
        <textarea class="form-control" name="des" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Hình ảnh</label>
        <input type="text" name="img" class="form-control" id="exampleFormControlInput1">
        </div>
        <button type="submit" class="btn btn-primary mb-3">Thêm</button>
</form>
</div>