<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hkGlmFB490M?si=5tvi-Z-NuYEfm82C" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <div class="mt-4">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <img src="{{course.img}}" class="card-img-top" alt="IMG">
                    <div class="card-body">
                        <h5 class="card-title">{{course.name}}</h5>
                        <p class="card-text">{{course.des}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>